$moduleMotoSliderAll: 'motoSlider';
$moduleMainSlider:    'mainSlider';
$moduleMotoGp:        'mainSliderGp';

.#{$moduleMotoSliderAll} {
  width: 100%;
  height: em(315);

  @include susy-breakpoint(30em, 8) { // 480px
    // Mobile Landscape.
    height: em(318);
  }
  @include susy-breakpoint(48em, 10) { // 768px
    // Tablet Portrait.
    height: em(372);
  }
  @include susy-breakpoint(62em, 12) { //  992px
    //Tablet Landscape & Small Desktop.
    height: em(466);
  }
  @include susy-breakpoint(75em, 12) { // 1200px
    // Large Desktop.
    height: em(564);
  }

  margin-bottom: 1em;

  & img {
    width: 100%;
  }
  & figcaption {
    position: absolute;
    top: 59%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    padding: 10px;
    background-color: rgba(51, 73, 96, 0.5);
    overflow: hidden;
    & h2 {
      margin: 0;
      color: #fff;
      font-size: em(26);
    }
    & a {}

  }

}

.#{$moduleMainSlider} { }

.#{$moduleMotoGp} { }

.sliderWrp {
  position: relative;

  & button {
    border: 0 none;
    position: absolute;
    width: em(50);
    height: em(50);
    //border: em(4) solid #fff;
    //border-radius: em(24);
    //background: transparent;
    z-index: 11;
  }
  &__prev {
    top: 42%;
    left: 5%;
    background: url("#{$images}arrowLeft.png") no-repeat center center transparent;
    background-size: cover;
    //&:before {
    //  position: relative;
    //  top: 0px;
    //  content: '';
    //  border: 2px solid #fff;
    //  border-radius: em(2) em(2) 0 0;
    //  @include transform(translateY(50px) rotate(45deg));
    //}
    //&:after {
    //  content: '';
    //  border: 2px solid #fff;
    //  border-radius: 0 0 em(2) em(2);
    //}
  }
  &__next {
    top: 42%;
    right: 5%;
    background: url("#{$images}arrowRight.png") no-repeat center center transparent;
    background-size: cover;
  }

}

