
<aside class="rightColumnModule">

  <article class="left">

    <h3>V8 Supercars</h3>
    <div class="motoThumbs supercars"
         ng-repeat="article in vm.news | property:'category':'v8 supercars' | orderBy:'-date' | limitTo:-3">
      <img src="{{article.images.img1}}" alt="{{article.title}}"/>
      <h4 class="motoThumbs__title"><a ng-href="#/news/{{article.category}}/{{article.title | encodeURI}}">{{article.title}}</a></h4>
      <date class="motoThumbs__date">{{article.date | date:'medium'}}</date>
      <p class="motoThumbs__intro">{{article.post.content | limitString:true:200:' ...'}}</p>
      <span class="motoThumbs__cat"><a ng-href="#/news/{{article.category}}">{{article.category}}</a></span>
    </div>

    <h3>Vintage Cars</h3>
    <div class="motoThumbs vintage"
         ng-repeat="article in vm.news | property:'category':'vintage' | orderBy:'-date' | limitTo:-3">
      <img src="{{article.images.img1}}" alt="{{article.title}}"/>
      <h4 class="motoThumbs__title"><a ng-href="#/news/{{article.category}}/{{article.title | encodeURI}}">{{article.title}}</a></h4>
      <date class="motoThumbs__date">{{article.date | date:'medium'}}</date>
      <p class="motoThumbs__intro">{{article.post.content | limitString:true:200:' ...'}}</p>
      <span class="motoThumbs__cat"><a ng-href="#/news/{{article.category}}">{{article.category}}</a></span>
    </div>

  </article>

  <article class="right">

    <h3>Categories</h3>
    <menu>
      <ul>
        <li></li>
      </ul>
    </menu>

    <h3>Videos</h3>
    <div class="videos" ng-repeat="article in vm.news | property:'category':'motogp' | orderBy:'-date' | limitTo:5">
      <video controls>
        <source src="{{article.video}}" type="video/mp4"/>
        Your browser does not support the <code>video</code> element.
      </video>
      <date class="videos__date">{{article.date | date:'medium'}}</date>
      <h4 class="videos__title"><a ng-href="#/news/{{article.category}}/{{article.title | encodeURI}}">{{article.title | limitString:true:100:' ...'}}</a></h4>
      <span class="videos__cat"><a ng-href="#/news/{{article.category}}">{{article.category}}</a></span>
    </div>
  </article>

</aside>

