$thum: 'thum';

.thumbs {
  display: none;
  @include susy-breakpoint(48em, 10) { // 768px
    // Tablet Portrait.
    display: block;
  }
}

.#{$thum} {
  position: relative;
  @include gallery(2 of 10);
  height: em(465);

  & h3 {

  }
  & img {
    width: 100%;
  }
  &__title {
    font-size: em(14);
  }
  &__date {
    @include date();
  }
  &__intro {
    font-size: em(12);
  }
  &__cat {
    @include tag();
    position: absolute;
    display: block;
    float: left;
    left: 0;
    bottom: em(15);
  }

}
