
$article:  'articleColumn';
$aside:    'articleRightColumn';

//@include susy-breakpoint(62em, 12) { //  992px
//  //Tablet Landscape & Small Desktop.
//
//}

.#{$article} {
  @include span(12 of 12);

  @include susy-breakpoint(62em, 12) { //  992px
    //Tablet Landscape & Small Desktop.
    @include span(8 of 12);
  }

  & .subImg {
    width: em(100);
  }
}

.#{$aside} {
  @include span(12 of 12);

  @include susy-breakpoint(62em, 12) { //  992px
    //Tablet Landscape & Small Desktop.
    @include span(4 of 12 last);
  }

}
